<div class="entryContainer">
<table>	
	<tr>
		<td class="question">
			<div>
				<div class="corpusSideElement">
					Q
				</div>
				<div class="scoreElement">
					Score</br>$SCORE
				</div>
			</div>
		</td>
		<td>
			<div class="corpus">
				$CONTENT
			</div>
			<div><div class="author">$AUTHOR</div><div class="date">$DATE<div></div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>$SHOW_HIDE_COMMENTS</td>
	</tr>
	<tr>
		<td></td>
		<td id="$COMMENT_DIV_ID" class="commentRow" style="display:none">
			$COMMENTS
		</td>
	</tr>
</table>
</div>